<!-- about view -->
<div class="container"  style="padding-top: 60px;">
    <div class="col-sm-12">
        
<ul class="social-nav model-2">
    <h3>Social:</h3>
  <li><a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.facebook.com" class="facebook"> <i class="fa fa-facebook"></i></a></li>
  <li><a href="https://plus.google.com" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
  <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
</ul>
        <h3>Twórcy:</h3>
        <ul type="none">
        <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="/images/krystian.jpg"/> <span style="margin-left:20px;"><strong>Krystian Ryśnik</strong></span>
            
        </li>
        <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="/images/lipkowsky.jpg"/> <span style="margin-left:20px;"><strong>Piotr Lipkowski</strong></span>
            
        </li>
         <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="/images/sebastian.jpg"/> <span style="margin-left:20px;"><strong>Sebastian Sagan</strong></span>
            
        </li>
        </ul>
        
        <h3>O aplikacji :</h3>
        <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in posuere orci. Nam consectetur posuere felis, in lobortis tortor sodales sed. Sed viverra ultricies odio molestie ornare. Etiam eget tellus elit. Integer at nisl ligula. Nunc sit amet ultricies neque. Aenean ut lectus mi. Suspendisse potenti. Praesent iaculis varius nunc, in bibendum dolor pellentesque ac.

Nunc molestie porttitor consequat. Sed ante nunc, commodo ac ipsum quis, semper consectetur urna. Nulla eget commodo mauris. Vivamus ac urna at nibh fringilla imperdiet. Proin urna purus, placerat ac enim eu, sodales aliquam risus. Sed vitae urna sed nisi condimentum euismod. Cras ligula nisi, porta ac enim ac, varius rutrum ipsum.

Suspendisse dictum ex risus, fringilla pulvinar risus interdum sed. Donec volutpat augue massa, et aliquet tortor finibus ut. Nullam finibus odio vel imperdiet dapibus. Aenean quis rutrum enim. Sed non felis in arcu posuere rhoncus. Fusce a lectus purus. In laoreet orci justo, id tincidunt nisl iaculis id. Fusce ut vulputate nisi. Ut aliquet tempus purus vel varius. Nulla facilisi. Proin rutrum condimentum ipsum eget pharetra. Suspendisse tempor tempor diam sodales semper. Donec molestie ante lacus, sed feugiat dolor cursus in.

Proin sollicitudin lectus eget erat pharetra aliquam. Donec velit arcu, varius eu leo et, sodales mattis mi. Sed ut justo sodales, faucibus leo in, iaculis dui. Proin mauris arcu, hendrerit id mi non, hendrerit efficitur nisi. Curabitur placerat pharetra felis, ut euismod quam lobortis sed. Fusce velit tellus, aliquet ut orci quis, porta pellentesque turpis. Praesent nec nibh libero. Nullam tellus ante, mollis sed suscipit ut, molestie vitae nulla. Vivamus et lacinia eros. Suspendisse in sapien mi.

Integer euismod metus eget urna interdum, a placerat ipsum venenatis. Nulla augue quam, rhoncus eu augue sed, elementum ultricies orci. Vivamus et iaculis nunc. Cras fringilla dignissim ante, id semper sapien blandit et. Aenean vulputate libero a suscipit pharetra. Aenean pulvinar, nisi sit amet ullamcorper suscipit, nisl lorem laoreet elit, a consequat tellus libero quis odio. Vivamus auctor dictum suscipit. Etiam lacinia porta felis a aliquet. Sed dolor leo, laoreet at eleifend non, dignissim ac enim. Curabitur at convallis purus. Nulla suscipit, velit at feugiat venenatis, dui lorem aliquet tortor, ac pharetra quam risus at erat. Morbi finibus ligula velit, ac tincidunt neque varius in.
        </div>
    </div>
</div>