<!-- about view -->
<div class="container"  style="padding-top: 60px;">
    <div class="col-sm-12">
         <center>
          <h3>O aplikacji:</h3>
        <div>
        <p>Nasza aplikacja pozwoli w najszybszy sposób znaleźć drogę do najbliższego Ci fryzjera.</p>
            <p>Tutaj znajdziesz opinie oraz oceny fryzjerów blisko Twojej lokalizacji.</p>
                <p>Gdy już wybierzesz swojego fryzjera sprawdź możliwość zapisu online, dzięki której zapiszesz się na dostępną godzinę i do dowolnej osoby</p>
        </div>
             </center>

        <h3>Twórcy:</h3>
        <ul type="none">
        <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="images/krystian.jpg"/> <span style="margin-left:20px;"><strong>Krystian Ryśnik</strong></span>
            
        </li>
        <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="images/lipkowsky.jpg"/> <span style="margin-left:20px;"><strong>Piotr Lipkowski</strong></span>
            
        </li>
         <li  style="margin-bottom: 25px;">
            <img class="img-circle" style="width:70px;" src="images/sebastian.jpg"/> <span style="margin-left:20px;"><strong>Sebastian Sagan</strong></span>
            
        </li>
        </ul>
        <ul class="social-nav model-2">
    <h3>Social:</h3>
  <li><a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.facebook.com" class="facebook"> <i class="fa fa-facebook"></i></a></li>
  <li><a href="https://plus.google.com" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
  <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
</ul>
    </div>
</div>