<!-- Register view -->
﻿﻿<div class="register-tab">
    <div class="errorMessage" ng-if="errorMessage">{{ errorMessage }}</div>
    <div class="align-bottom">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <img src="images/project-black.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <input type="email" ng-model="email" id="registerUsername" placeholder="Email" class="register-input" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <input type="password" ng-model="pass" id="registerPassword" placeholder="Haslo" class="register-input" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p class="text-center">Rejestrując się akceptujesz <a href="#">regulamin</a> oraz <a href="#">zasady i warunki</a> CutMyHair&reg;</p>
                <button ng-click="register()" class="register-btn">Zarejestruj się</button>
            </div>
        </div>
        <div class="row" style="margin: 20px 0;">
            <!-- Miejsce dla nawigacji -->
        </div>
    </div>
</div><!--/.register-tab-->
