<!-- Salon view -->
<div class="container"  style="padding-top: 50px;">
    <div class="row" style="background-color: #FFC107; color: #fff; font-size: 3em; padding: 20px 0;">
        <div class="col-xs-12">
            {{ salon.name }}
        </div>
    </div>
    <div class="row" style="padding: 15px 0;">
        <div class="col-xs-12">
            <strong>Informacje</strong><br/>
            <i class="fa fa-map-marker"></i> {{ salon.zip_code }} {{ salon.city }}, {{ salon.address }}<br/>
            <i class="fa fa-phone"></i> {{ salon.phone }}<br/>
            <i class="fa fa-clock-o"></i> {{ salon.hourStart }} - {{ salon.hourEnd}}
            <p>
                {{ salon.info }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 salon-bg" style="padding: 0 15px 5px 15px;">
            <h3>Umów się na wizytę</h3>
            <div ng-repeat="(id, service) in salon.services">
                <div class="row" style="background: #FBFBFB; padding: 5px 0; margin: 5px; 0;">
                    <div class="col-xs-8">
                        <strong>{{ service.name }}</strong><br/>
                        {{ service.info }}
                    </div>
                    <div class="col-xs-4 text-right">
                        {{ service.time | currency : 'min' }}
                        <strong>{{ service.price | currency : 'PLN+'}}</strong><br/>
                        <button id="{{id}}" ng-click="booking($event)" class="btn btn-warning">Zarezerwuj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 salon-bg" style="padding: 0 15px 5px 15px; margin: 5px 0 0 0;">
            <h3>Opinie klientów</h3>
            <div ng-repeat="comment in salon.comments">
                <div class="row" style="background: #FBFBFB; padding: 5px 0; margin: 5px 0 0 0;">
                    <div class="col-xs-8">
                        <strong>{{ comment.user }}</strong>
                        {{ comment.date | date }}
                    </div>
                    <div class="col-xs-4 text-right">
                        Ocena: {{ comment.rate }}
                    </div>
                </div>
                <div class="row" style="background: #FBFBFB; padding: 5px 0; margin: 0 0 5px 0;">
                    <div class="col-xs-12">
                        {{ comment.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking here -->
<div class="book"  ng-show="showBook">
    <div class="fixedTop">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 text-left">
                    <h4>Wybierz datę i godzinę:</h4>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa-stack fa-lg" ng-click="showBook = false">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-close fa-stack-1x"></i>
                    </span>
                </div>
            </div>
            <div class="row date">
                <div class="col-xs-3 text-right">
                    <span class="fa-stack fa-lg" ng-click="prevDay()">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-xs-6 text-center">
                    <span><strong>{{ now | date : 'yyyy' }}</strong><br/>{{ now | date : 'EEE d MMM' }}</span>
                </div>
                <div class="col-xs-3 text-left">
                    <span class="fa-stack fa-lg" ng-click="nextDay()">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="fixedBottom">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <button ng-click="saveBook()" class="btn btn-block btn-lg btn-warning">Kontynuuj: {{ now | date : 'EEE d MMM yyyy' + ', ' + hour }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row hours">
            <div class="col-xs-12 text-center">
                <ul>
                    <li ng-repeat="hour in getTimeArray(start, stop, 30)">
                        <input type="radio" id="{{hour}}" name="hour" value="{{hour}}" class="hide">
                        <label for="{{hour}}" ng-click="activeHour($event)" id="{{hour}}">{{hour}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
